<p id="notice"><%= notice %></p>
<h1>Showing Todo List</h1>
<p>
  <strong>Name:</strong>
  <%= @todo_list.name %>
</p>

<h1>Tasks</h1>
<ul>
<% @todo_list.tasks.each do |task| %>
  <li><%= task.description %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
